@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Source+Sans+Pro&display=swap');
@import 'colors';

* {
    box-sizing: border-box;
}

h1,h2 {
    // font-family: 'DM Serif Display', serif;
    font-family: 'Libre Baskerville','DM Serif Display', serif;
    font-weight: 700;
}

p,a,small,div,li {
    // font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

section {
    padding-top: 50px;
    padding-bottom: 75px;
    h1 {
        padding-bottom: 50px;
    }
    margin: 5px;
    @media (min-width: 768px) { 
        padding-top: 100px;
        padding-bottom: 125px;
    }
}

#landing {
    padding-top: 100px;
    padding-bottom: 100px;

    #download-success {
        display: none;
    }


}

#work {
    .card p {
        font-size: 0.85rem;
    }
}

#education {
    .card {
        width: 100% !important;
    }
}

#skills {
    .skill-holder {
        width: 100%;
        margin: auto;
    }
    min-height: 600px;
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #f3f3f3;
        background-color: $c3;
        // border-color: transparent transparent $c3;
        border-bottom: 4px $c3 solid !important;
        font-size: 18px;
        font-weight: bold;
        @media (max-width: 575px) { 
            border-radius: 4px;
        }
    }

    .nav-item:hover {
        font-weight: 700;
        transition: font-weight 0.5s ease;
    }

    .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: $c3;
        font-size: 18px;
    }

    .tab-content img {
        width: auto;
        height: 50px;   
    }

}

.work-grid {
    width: 100%;
    .card {
        @media (min-width: 768px) { 
        width: 18rem;
        }
    }

}

#get-in-touch .card {

    .card-body {
        width:30%;
    }

    .card-title {
        text-align: center;
    }

    flex-direction: row !important;
    @media (min-width: 576px) { 
        // width: 12rem;
    // }
    
        // @media (min-width: 768px) { 
            flex-direction: column;
            // width: 18rem;
        }
        .card-footer {
            border-top: none;
            width:70%;
            float: left;
            text-align: left;
        }
}

.shadow {
    box-shadow: 0 2px 2px rgba(0,0,0,0.16), 0 2px 2px rgba(0,0,0,0.23);
}

.preloader {
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1010;
    overflow: hidden;
    transition: all 1s ease-out;
}

.preloader-off {
    display: none !important;
    transition: all 1s ease-out;
}